main {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

h1{
    margin: 0;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}