nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    width: 170px;
}

.active{
    font-weight: bold;
}