.main{
    width: 100%;
    padding: 2rem;
}

table{
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: #ddd 1px solid;
}

thead{  
    background-color: #f0f0f0;
    text-align: left;
}

td {
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    vertical-align: top;
}

.actions-td{
    display: flex;
    gap: 10px;
}