.main{
    width: 100%;
    padding: 2rem;
}

table{
    width: 100%;
    padding: 10px 10px 10px 0px;
}

thead{  
    background-color: #f0f0f0;
    text-align: left;
}

th, td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.actions-td{
    display: flex;
    gap: 10px;
}