.main{
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
}

table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: #ddd 1px solid;
}

thead{  
    background-color: #f0f0f0;
    text-align: left;
}

td {
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    vertical-align: top;
}

.actions-td{
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .main{
        padding: 1rem;
    }

    table{
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}